
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #f4976c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  overflow: hidden;
}

.nav-links {
  font-size: 36px;
  color: #fbeec1;
}

.nav-links a {
  text-decoration: none;
  color: #fbeec1;
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.connect-button {
  background-color: #FFDAB9;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

.connect-button:hover {
  background-color: #FFC085;
}

.popular-beverages {
  text-align: center;
  padding: 20px;
  background-color: #FFDAB9;
}

.popular-beverages h1,
.popular-beverages h2,
.popular-beverages p {
  color: #000000;
}

.beverage-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 20px;
  margin-bottom: 100px
}

.beverage-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  text-align: center;
  min-width: 150px;
  height: 235px;
}

.beverage-item img {
  width: 200px;
  padding:10px;
  margin:15px;
  height: 235px;
  margin-bottom: 10px;
}

.beverage-item p {
  margin-top: auto;
  font-weight: bold;
}

.footer {
  background-color: #f4976c;
  padding-top: 20px;
  color: white;
  text-align: center;
  clear: both;
  margin-top: 0px;
  overflow: auto;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-nav,
.social-links {
  margin-bottom: 10px;
}

.footer-nav a,
.social-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 10px;
  font-size: 16px;
  transition: color 0.3s;
}

.social-links img {
  width: 24px;
  margin: 0 10px;
}

/* 响应式布局调整 */
@media (max-width: 1024px) {
  .navbar,
  .footer-content {
    flex-direction: column;
  }

  .nav-links {
    padding-top: 10px;
  }

  .beverage-container {
    grid-template-columns: repeat(1fr);
     margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .beverage-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .navbar a:hover,
  .footer-nav a:hover {
    background-color: transparent;
    color: #FFD700;
  }
}

